<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>5000</key>
	<dict>
		<key>Comment</key>
		<string>Panel</string>
		<!-- Localize begin -->
		<key>Toolbar Item Label</key>
		<string>Eerder afgespeeld</string>
		<!-- Localize end -->
		<key>Toolbar Item Identifier</key>
		<string>previouslyViewed</string>
		<key>Toolbar Item Sub Dir</key>
		<string>Art</string>
		<key>Toolbar Item Image</key>
		<string>DiscItemDisc.tiff</string>
		<key>In Default Toolbar</key>
		<true/>
		<key>Panel Cmd ID</key>
		<string>PrvV</string>
		<key>Accessibility Ignore</key>
		<true/>
	</dict>
</dict>
</plist>
