<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>Comment</key>
		<string>status msg</string>
		<key>Text</key>
		<string/>
		<key>Theme Font ID</key>
		<integer>200</integer>
		<!-- Localize begin -->
		<key>Font Name</key>
		<string>儷黑 Pro</string>
		<!-- Localize end -->
		<key>Font Size</key>
		<integer>22</integer>
		<key>Font Justification</key>
		<integer>0</integer>
		<key>Bottom Binding Info</key>
		<dict>
			<key>Offset</key>
			<integer>2</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<key>Transparent To Clicks</key>
		<true/>
		<key>Use Port Color</key>
		<true/>
		<key>Text Drop Shadow</key>
		<true/>
		<key>Truncate Text</key>
		<true/>
		<key>Truncate Type</key>
		<integer>0</integer>
	</dict>
	<key>2</key>
	<dict>
		<key>Comment</key>
		<string>image view</string>
		<key>Bottom Binding Info</key>
		<dict>
			<key>Offset</key>
			<integer>-1</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<key>Image Drop Shadow</key>
		<true/>
	</dict>
	<key>3</key>
	<dict>
		<key>Comment</key>
		<string>Background View</string>
		<key>Draw With Image</key>
		<false/>
		<key>Radius</key>
		<real>8.0</real>
		<key>Color</key>
		<dict>
			<key>blue</key>
			<integer>0</integer>
			<key>green</key>
			<integer>0</integer>
			<key>red</key>
			<integer>0</integer>
		</dict>
		<key>Top Binding Info</key>
		<dict>
			<key>Offset</key>
			<integer>-1</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<key>Left Binding Info</key>
		<dict>
			<key>Offset</key>
			<integer>-1</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<key>Right Binding Info</key>
		<dict>
			<key>Offset</key>
			<integer>-1</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<key>Bottom Binding Info</key>
		<dict>
			<key>Offset</key>
			<integer>-1</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<key>Accessibility Ignore</key>
		<true/>
	</dict>
	<key>Window</key>
	<dict>
		<key>Display Time</key>
		<integer>180</integer>
		<key>Border Size</key>
		<integer>2</integer>
		<key>Msg Left Inset</key>
		<integer>0</integer>
		<key>Msg Right Inset</key>
		<integer>2</integer>
		<key>Image Left Inset</key>
		<integer>10</integer>
		<key>Image Right Inset</key>
		<integer>0</integer>
		<key>Remove Title Bar</key>
		<true/>
		<key>Fade Support</key>
		<true/>
	</dict>
</dict>
</plist>
